.w-course {
	width: 24%;
}

.estrelas input[type=radio] {
	display: none;
}

.estrelas label i.fa:before {
	content:'\f005';
	color: #FC0;
}

.estrelas input[type=radio]:checked ~ label i.fa:before {
	color: #CCC;
}

.star {
	font-size: 20px;
}

.star-2 {
  cursor: pointer;
  font-size: 20px;
}

.rating-area-int {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.hover\:bg-platform-900:hover {
  background-color: #38322e;
}

.hover\:bg-platform-800:hover {
  background-color: #433c37;
}

.hover\:bg-platform-700:hover {
  background-color: #4f4640;
}

.hover\:bg-platform-600:hover {
  background-color:#5A5049;
}

.hover\:bg-platform-500:hover {
  background-color: #655A53;
}

.hover\:bg-platform-400:hover {
  background-color: #70645C;
}

.hover\:bg-platform-300:hover {
  background-color: #7B6E65;
}

.hover\:bg-platform-200:hover {
  background-color: #87786E;
}

.bg-platform-900 {
  background-color: #38322e;
}

.bg-platform-800 {
  background-color: #433c37;
}

.bg-platform-700 {
  background-color: #4f4640;
}

.bg-platform-600 {
  background-color:#5A5049;
}

.bg-platform-500 {
  background-color: #655A53;
}

.bg-platform-400 {
  background-color: #70645C;
}

.bg-platform-300 {
  background-color: #7B6E65;
}

.bg-platform-200 {
  background-color: #87786E;
}

@media (max-width: 640px) {	
	.w-course {
		width: 50% !important;
	}
}
